@import './styles/tokens.css';

:root {
  font-family: var(--font-family-base), serif;
  color: var(--text-primary);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100svh;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('../public/fonts/MaruBuri-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('../public/fonts/MaruBuri-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('../public/fonts/MaruBuri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('../public/fonts/MaruBuri-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('../public/fonts/MaruBuri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
